.App{
    background-color: #FACC04;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.pokecard{
    background-color: #203165;
    border: 3px solid #3357B7;
    border-radius: 15%;
    margin: 8px;
    display: flex;
    flex-direction: column-reverse;
}

.pokename{
    color: white;
    text-transform: capitalize;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid #3357B7;
    border-radius: 7%;
    padding: 15px;
    background-color: #203165;
    color: white;

}

button, .id, img {
    align-self: center;
    margin: 5px;;

}

button{
    border-radius: 15%;
    color: white;
    background-color: #203165;
    border: 3px solid #3357B7;
}